## Brayan's Notebook

This notebook is Brayan's exploration on comparing observations from space of Near Earth Objects (NEOs), specifically Potentially Hazardous Asteroids (PHAs), to what we observe on Earth

In [11]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Data Cleaning Process

In [12]:
#import NEO data
NEO_df= pd.read_csv('../raw/NEO_PHA_sample.csv')
NEO_df

     neo pha  diameter       e      a       w  per_y   first_obs
0      Y   Y      1.00  0.8270  1.078   31.44   1.12  1949-07-01
1      Y   Y      2.56  0.3355  1.246  277.02   1.39  1951-09-14
2      Y   Y      1.50  0.5599  1.471  286.05   1.78  1930-12-13
3      Y   Y      3.40  0.6505  1.776  267.84   2.37  1973-03-06
4      Y   Y      0.60  0.7641  1.874   43.71   2.57  1936-02-21
...   ..  ..       ...     ...    ...     ...    ...         ...
2510   Y   Y       NaN  0.5442  2.211  325.13   3.29  2025-09-27
2511   Y   Y       NaN  0.6584  2.081  273.93   3.00  2025-09-30
2512   Y   Y       NaN  0.6621  2.219  131.41   3.31  2025-09-30
2513   Y   Y       NaN  0.8865  8.908  158.21  26.60  2025-10-27
2514   Y   Y       NaN  0.6617  2.821  235.05   4.74  1960-09-24

[2515 rows x 8 columns]

Select only potentially hazardous asteroids (PHAs) $\rightarrow$ where `pha` column is 'Y' (for yes)

In [13]:
PHA_df=NEO_df[NEO_df['pha']=='Y']
PHA_df

     neo pha  diameter       e      a       w  per_y   first_obs
0      Y   Y      1.00  0.8270  1.078   31.44   1.12  1949-07-01
1      Y   Y      2.56  0.3355  1.246  277.02   1.39  1951-09-14
2      Y   Y      1.50  0.5599  1.471  286.05   1.78  1930-12-13
3      Y   Y      3.40  0.6505  1.776  267.84   2.37  1973-03-06
4      Y   Y      0.60  0.7641  1.874   43.71   2.57  1936-02-21
...   ..  ..       ...     ...    ...     ...    ...         ...
2510   Y   Y       NaN  0.5442  2.211  325.13   3.29  2025-09-27
2511   Y   Y       NaN  0.6584  2.081  273.93   3.00  2025-09-30
2512   Y   Y       NaN  0.6621  2.219  131.41   3.31  2025-09-30
2513   Y   Y       NaN  0.8865  8.908  158.21  26.60  2025-10-27
2514   Y   Y       NaN  0.6617  2.821  235.05   4.74  1960-09-24

[2515 rows x 8 columns]

Search for any missing data

In [14]:
PHA_df.isnull().sum()

neo             0
pha             0
diameter     2176
e               0
a               0
w               0
per_y           0
first_obs       0
dtype: int64

Most of the dataset has a NaN for the diameter, therefore, it may not be the best parameter to use